body{
    background-color: burlywood;
    font-family: 'Indie Flower', cursive;
}
.header_div{
    color:cadetblue;
    background-color:tomato;
    border: solid 3px black;
    border-radius: 50px;
    
   
}
.header_div img{
    width: 70px;
  
}
.header_div h2{
    font-weight: bold;
  
}
.main_div{
    background-color:lightblue;
    padding: 10px;
    margin-top:15px;
    border: white 4px solid;
}
.main_div label{
    background-color: beige;
    padding: 10px;
    width:310px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px beige ;
}
#camera,#capturedimage{
border: 4px dashed dodgerblue;
width:310px;
height:300px;
box-shadow: 5px 5px 18px bisque;
}
.main_div button{
    width:310px;
    font-size: 15px;
    border: 2px solid;
    box-shadow: white 5px 5px 18px;
}
.footer_div{
    margin-top: 60px;
   

}
.footer_div h4{
border-radius: 50px;
border-width: 3px;
background-color: whitesmoke;
padding: 5px;
box-shadow: 5px 5px 18px whitesmoke;

}
.footer_div img{
width: 70px;

}
.copyright_footer {
    line-height: 3;
    color:black;
    background-color: white;
    text-align: center;
    position:fixed;
    bottom: 0px;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}